.alice-carousel__dots{
    margin: 0;
}

.alice-carousel__dots-item:not(.__custom){
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

.alice-carousel__dots-item:not(.__custom):not(:last-child){
    margin-right: 5px;
    transition: 0.4s ease-in-out;
}
.alice-carousel__dots-item:not(.__custom).__active{
    background-color:#828282;
    width: 20px;
    transition: 0.6s ease-in-out;

}
.alice-carousel__dots-item:not(.__custom):hover{
    background-color:#828282;
}

.alice-carousel__prev-btn, .alice-carousel__next-btn{
    display: none;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active{
    background-color:#828282;
}